.photo-grid {
  max-width: 288px;
  margin: 64px 16px 0 16px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
}

@media screen and (min-width: 768px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin: 88px 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 14px;
    row-gap: 14px;
    margin: 88px 48px 0 48px;
  }
}

@media screen and (min-width: 1280px) {
  .photo-grid {
    max-width: 1184px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    margin: 92px 48px 0 48px;
  }
}
