.cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    align-self: center;
    padding-top: 16px;
    max-width: 80%;
    height: 48px;
    margin: 0 auto;
    z-index: 1;
  }
  
  @media screen and (min-width: 768px) {
    .cover__subtitle {
      max-width: 360px;
      font-size: 18px;
      line-height: 22px;
      align-self: center;
      padding-top: 32px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .cover__subtitle {
      max-width: 560px;
    }
  }
  
  