.place__main-text {
  max-width: 320px;
  margin: 32px 0 45px 0;
  padding: 0 16px 0 16px;
  display: grid;
  row-gap: 24px;
}

@media screen and (min-width: 768px) {
  .place__main-text {
    max-width: 352px;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .place__main-text {
    max-width: 456px;
    height: 75%;
  }
}

@media screen and (min-width: 1280px) {
  .place__main-text {
    max-width: 484px;
  }
}
