.place__paragraph {
  font-size: 16px;
  line-height: 163%;
  color: #ffffff;
  display: grid;
  gap: 25px;
}

@media screen and (min-height: 1024px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 163%;
    display: grid;
    gap: 26px;
  }
}

@media screen and (min-height: 1280px) {
  .place__paragraph {
    font-size: 18px;
    line-height: 163%;
    display: grid;
    gap: 26px;
  }
}
