.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 45px 0 24px 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    margin: 0;
  }
}

